html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 30px;
}
li{
    list-style:none;
    text-align: center;
    margin: auto;
}
ul{
    padding:0;
}
h1{
  margin: 0 auto;
  text-align: center;
  color: rgb(235, 77, 77);
}
.a{
  margin-top: 500px;
  width: 100%;
  height: 70px;
  background-color: midnightblue;
  position: absolute;
  bottom: 0;
}
h6{
  text-align: center;
  color: rgb(161, 54, 111);
  font-size: 12px;
}
.main p{
  font-size: 20px;
  display: flex;
  padding-left: 20px;
}
.header{
  display: flex;
  justify-content: space-around;
  background-color: #93c4f5;
  height: 50px;
}
.padding{
  padding-left: 20px;
}
.header_2{
  display: flex;
  justify-content: space-around;
  background-color: #93c4f5;
  height: 50px;
}
.login{
  margin-top: 100px;
  margin-left: 40px;

}